{% extends 'base.html.twig' %} {% block body %}
<div class="bande " style="background-color: #018786">

</div>
<div class=" bg-white pt-0 mt-0">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 " style="height: 100%;">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    <h6 class="m-0 font-weight-bold  text-primary"><i class="fas fa-file-alt"></i> RECHERCHE AVANCÉE</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="datepub">Le(s) mots clé(s) à rechercher</label>
                            <input type="text" name="search" class="form-control" value="{{ mots }}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mots clés">

                        </div>
                        <div class="form-group">
                            <label for="categorie">Categories >>Sous Categories</label> <select name="categorie" class="custom-select mr-sm-5" id="inlineFormCustomSelect">
                                <option value='' selected>Toutes Les Categories</options>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}"><b>{{ cat.libelle }}</b></option>
                        {% for sousCat in cat.sousCategorie %}
                        <option value="{{ cat.id }}-{{ sousCat.id }}"><b>{{ cat.libelle }}</b> >> {{ sousCat.libelle }}</option>
                        {% endfor %}
                        {% endfor %}
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="datepub">Date de publication</label>
                            <input type="date" value=" {{ datepub }}  " name="datepub" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mots clés">

                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary form-control"><i class="fas fa-search"></i> RECHERCHER</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 pt-3">
            <p class="text-center  "> <b>  <i class="fas fa-file-alt"></i> RESULTAT(S) DE RECHERCHE</b>: pour le(s) mot(s) clé(s) <b>'{{ mots }}'</b> </p>
            <hr class=" text-center " style="width: 60% ;background-color: gray;"> {% if juri %}

            <!--Accordion wrapper-->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark text-dark " data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(33, 102, 182);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Juridique [{{ juri|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if res %}
                    <!-- Card body -->
                    {% for key,res in res %}
                    <div id="collapseTwo1" class="collapse card " role="tabpanel" aria-labelledby="headingTwo1-1" data-parent="#accordionEx1-1">
                        <div class="card-body">



                            <a class="collapsed text-dark text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}1" onclick="scroller('{{ key }}1')" onclick="scroller('{{ key }}')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}1">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}1" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-2" data-parent="#accordionEx1-2">
                            <div class="card-body">

                                <p><b class="souscat text-light p-2" style="background-color: rgb(33, 102, 182)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>{% endif %}{% endif %}

                            </div>
                        </div>
                        {% endfor %}</div> {% endfor %} {% endif %}
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->

            </div>{% endif %}
            <!-- Accordion wrapper -->

            <!--Accordion wrapper-->
            {% if fiscal %}
            <!-- Accordion wrapper -->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed text-dark text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(67, 5, 80);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Fiscal [{{ fiscal|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if fis %}
                    <!-- Card body -->
                    {% for key,res in fis %}
                    <div id="collapseTwo2" class="collapse card" role="tabpanel" aria-labelledby="headingTwo2-1" data-parent="#accordionEx2-1">
                        <div class="card-body">



                            <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}2" onclick="scroller('{{ key }}2')" aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>

                    <div id="scroll{{ key }}2">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}2" class="card collapse" role="tabpanel" aria-labelledby="headingTwo2-2" data-parent="#accordionEx2-2">
                            <div class="card-body">
                                <p><b class="souscat text-light p-2" style="background-color: rgb(67, 5, 80)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>
                                </p>{% endif %}{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> {% endfor %} {% endif %}
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->

            </div> {% endif %} {% if affaires %}

            <!--Accordion wrapper-->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark text-dark " data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo7" aria-expanded="false" aria-controls="collapseTwo7">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(238, 201, 53);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Affaire [{{ affaires|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if aff %}
                    <!-- Card body -->
                    {% for key,res in aff %}
                    <div id="collapseTwo7" class="collapse card " role="tabpanel" aria-labelledby="headingTwo1-7" data-parent="#accordionEx1-7">
                        <div class="card-body">



                            <a class="collapsed text-dark text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}3" onclick="scroller('{{ key }}3')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}3">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}3" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-2" data-parent="#accordionEx1-2">
                            <div class="card-body">

                                <p><b class="souscat text-light p-2" style="background-color:rgb(238, 201, 53)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>{% endif %}{% endif %}

                            </div>
                        </div>
                        {% endfor %}</div> {% endfor %} {% endif %}
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->

            </div>{% endif %}{% if social %}

            <!--Accordion wrapper-->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark text-dark " data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo78" aria-expanded="false" aria-controls="collapseTwo7">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(221, 35, 238);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Social [{{ social|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if soc %}
                    <!-- Card body -->
                    {% for key,res in soc %}
                    <div id="collapseTwo78" class="collapse card " role="tabpanel" aria-labelledby="headingTwo1-7" data-parent="#accordionEx1-7">
                        <div class="card-body">



                            <a class="collapsed text-dark text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}4" onclick="scroller('{{ key }}4')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}4">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}4" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-2" data-parent="#accordionEx1-2">
                            <div class="card-body">

                                <p><b class="souscat text-light p-2" style="background-color:rgb(221, 35, 238)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>{% endif %}{% endif %}

                            </div>
                        </div>
                        {% endfor %}</div> {% endfor %} {% endif %}
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->

            </div> {% endif %} {% if foncier %}
            <!-- Accordion wrapper -->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo1">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(202, 6, 35);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Foncier [{{ foncier|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if fon %}
                    <!-- Card body -->
                    {% for key,res in fon %}
                    <div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo1-1" data-parent="#accordionEx1-1">
                        <div class="card-body">



                            <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}5" onclick="scroller('{{ key }}5')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}5">

                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}5" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-2" data-parent="#accordionEx1-2">
                            <div class="card-body">
                                <p><b class="souscat text-light p-2" style="background-color: rgb(202, 6, 35)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>
                                </p>{% endif %}{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> {% endfor %} {% endif %}
                </div>

                <!-- Accordion card -->

                <!-- Accordion card -->

            </div> {% endif %} {% if banque %}
            <!-- Accordion wrapper -->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo41" aria-expanded="false" aria-controls="collapseTwo1">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgb(245, 27, 190);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Banque [{{ banque|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if ban %}
                    <!-- Card body -->
                    {% for key,res in ban %}
                    <div id="collapseTwo41" class="collapse" role="tabpanel" aria-labelledby="headingTwo1-1" data-parent="#accordionEx1-1">
                        <div class="card-body">



                            <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}6" onclick="scroller('{{ key }}6')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}6">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}6" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-2" data-parent="#accordionEx1-2">
                            <div class="card-body">
                                <p><b class="souscat text-light p-2" style="background-color:rgb(245, 27, 190)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>
                                </p>{% endif %}{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>{% endfor %} {% endif %}
                </div>

                <!-- Accordion card -->

                <!-- Accordion card -->

            </div> {% endif %} {% if assurance %}

            <!--Accordion wrapper-->
            <div class="accordion m-3 md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed text-dark text-dark " data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo70" aria-expanded="false" aria-controls="collapseTwo70">
                            <h5 class="mb-0">
                                <div class="vl" style=" border-left: 6px solid rgba(57, 73, 0, 0.856);height:62px;float: left;margin: -20px;"></div>
                                <img src="{{asset('assets/img/juridique.svg')}}" height="30px" width="40px"> Assurance [{{ social|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    {% if ass %}
                    <!-- Card body -->
                    {% for key,res in ass %}
                    <div id="collapseTwo70" class="collapse card " role="tabpanel" aria-labelledby="headingTwo1-70" data-parent="#accordionEx1-70">
                        <div class="card-body">



                            <a class="collapsed text-dark text-dark" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo{{ key }}7" onclick="scroller('{{ key }}7')" aria-expanded="false" aria-controls="collapseTwo1">
                                <h5 class="mb-0">
                                    {{ res[0].souscat.libelle }}[{{ res|length }} docs]<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>

                        </div>
                    </div>
                    <div id="scroll{{ key }}7">
                        {% for docs in res %}
                        <div id="collapseTwo{{ key }}7" class="card collapse" role="tabpanel" aria-labelledby="headingTwo1-70" data-parent="#accordionEx1-70">
                            <div class="card-body">

                                <p><b class="souscat text-light p-2" style="background-color:rgba(57, 73, 0, 0.856)">{{ res[0].souscat.libelle|slice(0,4) }}</b><b> {{ docs.description }}</b></p>{% set mots = mots|upper%}{% set text = "<b class='p-1' style='background-color:grey'>"~mots~"</b>"
                                %}
                                <p>{{ res[0].souscat.libelle }} : {{ docs.description|upper|replace({ (mots|upper) :( text ) })|raw}}
                                    <a href="{{path('render',{id:docs.id})}}" class="btn btn-success ml-1">
                                        <i class="fas fa-book"></i>
                                    </a>{% if app.user %}{% if app.user.role =="ROLE_ADMIN" %}
                                    <a href="{{path('editDoc',{id:docs.id})}}" class="btn btn-info ml-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a onclick="return confirm('Voulez-vous vraiment suppprimer')" href="{{path('removeDoc',{id:docs.id})}}" class="btn btn-danger  ml-1">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </p>{% endif %}{% endif %}

                            </div>
                        </div>
                        {% endfor %}</div> {% endfor %} {% endif %}
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->

            </div> {% endif %}
        </div>
    </div>
</div>


{% endblock %}